{% extends "base.html" %}
  {% block content %}

  <h1>{{ post.title }}</h1>

  <p>{{ post.content }}</p>

  <p>By {{post.user.first_name}} {{post.user.last_name}} on {{ post.created_at.strftime(format="%I:%M %p, %d %B, %Y") }}</p> 
  <!-- How can we reformat datetime -->
  <b>Tags:</b>
    {% for tag in post.tags %}
        <a href="/tags/{{ tag.id }}" class="badge bg-primary">{{ tag.name }}</a>
    {% endfor %}

  <br>
  <a href="/posts/{{ post.id }}/edit" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Edit</a>
  <a href="/posts/{{ post.id }}/delete" class="btn btn-danger btn-lg" tabindex="-1" role="button" aria-disabled="true">Delete</a>

  {% endblock %}
