{% extends "base.html" %}
  
  {% block content %}

  <h2>Edit Post</h2>
  <form action="/posts/{{post.id}}/edit" method="POST">
    <div class="mb-3">
      <label class="form-label">Title:</label>
      <input value="{{post.title}}" type="text" class="form-control" name="p_title">
      <label class="form-label">Content:</label>
      <input value="{{post.content}}" type="text" class="form-control" name="p_content">
    </div>

    <a href="/posts/{{post.id}}" class="btn btn-light btn-lg" tabindex="-1" role="button" aria-disabled="true">Cancel</a>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
  

  {% endblock %}
