{% extends "base.html" %}
  
  {% block content %}

  <h2>Add Post for {{ user.first_name }} {{ user.last_name }}</h2>
  <form action="/users/{{ user.id }}/posts/new" method="POST">
    <div class="mb-3">
      <label class="form-label">Title:</label>
      <input type="text" class="form-control" name="p_title" placeholder="Post Title">
      <label class="form-label">Content:</label>
      <input type="text" class="form-control" name="p_content" placeholder="Your content here!">
    </div>
    
    <div class="form-check">
      {% for tag in all_tags %}
        <input class="form-check-input" type="checkbox" name="{{tag.name}}" value="">
        <label class="form-check-label">
          {{ tag.name }} </label>
      {% endfor %}
    </div>



    <a href="/users/{{user.id}}" class="btn btn-light btn-lg" tabindex="-1" role="button" aria-disabled="true">Cancel</a>
    <button type="submit" class="btn btn-success">Add</button>
  </form>
  
  {% endblock %}
