{% extends "base.html" %}
  
  {% block content %}

  <h2>Edit a User</h2>
  <form action="/users/{{user.id}}/edit" method="POST">
    <div class="mb-3">
      <label class="form-label">First Name:</label>
      <input value="{{user.first_name}}" type="text" class="form-control" name="f_name">
      <label class="form-label">Last Name:</label>
      <input value="{{user.last_name}}" type="text" class="form-control" name="l_name">
      <label class="form-label">Image URL:</label>
      <input value="{{user.image_url}}" type="text" class="form-control" name="img_url">
    </div>

    <a href="/users" class="btn btn-light btn-lg" tabindex="-1" role="button" aria-disabled="true">Cancel</a>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
  

  {% endblock %}
